* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  color: #9cddfd;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.app-container {
  display: flex;
  width: 60%;
  background-color: #1e1e1e;
  margin: auto;
  margin-top: 5%;
  justify-content: center;
  flex-direction: column;
}

.filename-tab {
  background-color: #1e1e1e;
  width: 150px;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  text-align: center;
  height: 25px;
  margin-top: -36px;
  border-bottom: solid 1px grey;
  justify-content: space-evenly;
}

.items-container {
  padding: 30px;
  display: flex;
  margin-left: 3%;
  flex-direction: column;
}

.start {
  color: #dbdcab;
  margin-top: 40px;
  padding-bottom: 10px;
}

.start:hover {
  cursor: pointer;
}
